/obj/Debug/netstandard2.1/EnemyAudios.AssemblyInfoInputs.cache
/obj/Debug/netstandard2.1/EnemyAudios.assets.cache
/obj/Debug/netstandard2.1/EnemyAudios.AssemblyInfo.cs
/obj/Debug/netstandard2.1/EnemyAudios.csproj.AssemblyReference.cache
/obj/Debug/netstandard2.1/EnemyAudios.csproj.CoreCompileInputs.cache
/obj/EnemyAudios.csproj.nuget.dgspec.json
/obj/Debug/netstandard2.1/EnemyAudios.csproj.FileListAbsolute.txt
/obj/EnemyAudios.csproj.nuget.g.props
/obj/EnemyAudios.csproj.nuget.g.targets
/bin/Debug/netstandard2.1/EnemyAudios.dll
/bin/Debug/netstandard2.1/EnemyAudios.deps.json
/obj/Debug/netstandard2.1/EnemyAudios.dll
/plugins/nilt0n-EnemyAudios/EnemyAudios.dll
/obj/Debug/netstandard2.1/EnemyAudios.GeneratedMSBuildEditorConfig.editorconfig
/Folder.DotSettings.user
/.idea/.idea.EnemyAudios.dir/.idea/indexLayout.xml
/obj/project.nuget.cache
/obj/project.assets.json
/obj/project.packagespec.json
/obj/rider.project.model.nuget.info
/obj/rider.project.restore.info
/.idea/.idea.EnemyAudios.dir/.idea/vcs.xml
